<div class="certcont">
  <div class="head">
    <h1 class="certtype">Service Now</h1>
    <h2 class="certhead">Certifications</h2>
  </div>
  <div class="cardcont">
    <ul class="certlist">
      <li class="certitem">
        <a href="www.google.com">
          <p class="certtitle">Certification Title</p>
          <p>
            Certification description udin nibh sit. Dui id ornare arcu odio ut
            sem nulla. Tincidunt tortor aliquam nulla facilisi cras fermentum
            odio eu feugiat. Sit amet est placerat in egestas erat imperdiet
            sed. Tellus in metus vulputate eu scelerisque. Vulputate sapien nec
            sagittis aliquam malesuada bibendum. Justo nec ultrices dui sapien
            eget mi proin sed. Donec enim diam vulputate ut pharetra sit amet
            aliquam. Elementum curabitur vitae nunc sed velit dignissim sodales
            ut eu. Non diam phasellus vestibulum lorem. Quis commodo odio aenean
            sed adipiscing diam donec. Elementum sagittis vitae et leo duis ut
            diam quam.
          </p>
        </a>
      </li>
      <li class="certitem">
        <a href="www.google.com">
          <p class="certtitle">Certification Title</p>
          <p>
            Certification description udin nibh sit. Dui id ornare arcu odio ut
            sem nulla. Tincidunt tortor aliquam nulla facilisi cras fermentum
            odio eu feugiat. Sit amet est placerat in egestas erat imperdiet
            sed. Tellus in metus vulputate eu scelerisque. Vulputate sapien nec
            sagittis aliquam malesuada bibendum. Justo nec ultrices dui sapien
            eget mi proin sed. Donec enim diam vulputate ut pharetra sit amet
            aliquam. Elementum curabitur vitae nunc sed velit dignissim sodales
            ut eu. Non diam phasellus vestibulum lorem. Quis commodo odio aenean
            sed adipiscing diam donec. Elementum sagittis vitae et leo duis ut
            diam quam.
          </p>
        </a>
      </li>
      <li class="certitem">
        <a href="www.google.com">
          <p  class="certtitle">Certification Title</p>
          <p>
            Certification description udin nibh sit. Dui id ornare arcu odio ut
            sem nulla. Tincidunt tortor aliquam nulla facilisi cras fermentum
            odio eu feugiat. Sit amet est placerat in egestas erat imperdiet
            sed. Tellus in metus vulputate eu scelerisque. Vulputate sapien nec
            sagittis aliquam malesuada bibendum. Justo nec ultrices dui sapien
            eget mi proin sed. Donec enim diam vulputate ut pharetra sit amet
            aliquam. Elementum curabitur vitae nunc sed velit dignissim sodales
            ut eu. Non diam phasellus vestibulum lorem. Quis commodo odio aenean
            sed adipiscing diam donec. Elementum sagittis vitae et leo duis ut
            diam quam. HERE 
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
