.login-container {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
}
.log{
  background-color: #87CBB9;
  height: 100vh;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"],
button[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #001C30;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #0056b3;
}

.button-google {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #db4437;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button-google:hover {
  background-color: #c31f16;
}

.login-feedback {
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: #dc3545;
}

.success-message {
  color: #28a745;
}
