/* Common Styles for Both Mobile and Desktop */
.hero {
  background: url(https://cdn.pixabay.com/photo/2022/06/27/08/09/graduation-7287004_960_720.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.categories{
  width: 25vw !important;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
}

.heroheader {
  font-size: 40px;
  color: white;
  position: relative;
  margin: 10px;
}

.btn {
  border: solid white 2px;
  color: white;
  position: relative;
  height: 40px;
  width: 120px;
  border-radius: 0;
  margin: 10px;
  transition: all 0.5s;
}

.signup {
  margin-right: 10px;
}

.homecontainer {
  font-family: 'Open Sans', sans-serif;
}

.growthsection {
  min-height: 5vh; /* Updated to min-height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

/* Styles for Why Choose Us Section */
.why-us {
  min-height: 60vh; /* Updated to min-height */
  background-color: #569DAA;
  padding: 20px 0;
}

.why-us .why-box {
  padding: 40px;
  background: #577D86;
  color: #fff;
}


.why-us .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .why-box p {
  margin-bottom: 30px;
}

.why-us .why-box .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 8px 40px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .why-box .more-btn i {
  font-size: 16px;
}

.why-us .why-box .more-btn:hover {
  color: var(--color-primary);
  background: #569DAA;
}

/* Tablet Styles */
@media (min-width: 768px) {
  .hero {
    height: 70vh;
  }

  .heroheader {
    font-size: 60px;
  }

  .btn {
    height: 50px;
    width: 150px;
  }

  .signup {
    margin-right: 20px;
  }

  .growthsection {
    min-height: 40vh; /* Updated to min-height */
  }

  /* Adjust other tablet-specific styles here */
}

/* Desktop Styles */
@media (min-width: 1200px) {
  .hero {
    height: 94vh;
  }

  .heroheader {
    font-size: 80px;
  }

  .btn {
    height: 5vh;
    width: 15vw;
  }

  .signup {
    margin-right: 5vw;
  }

  .growthsection {
    min-height: 30vh; /* Updated to min-height */
  }
  .addsec {
    flex: 0 0 calc(33.33% - 10px);
    background-color: #fff;
    height: 25vh;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Adjust other desktop-specific styles here */
}
/* Mobile Styles */
@media (max-width: 767px) {
  .addsec {
    background-color: white;
    margin: 2px;
    padding: 5px;
  }
}
