<div class="homecontainer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Hero -->
  <div class="hero">
    <h1 class="heroheader">One Step Closer To Success</h1>
    <div *ngIf="!isLoggedIn; else categoriesButton">
      <a href="/signup">
        <button type="button" class="signup btn">
          <span>Get Started</span>
        </button>
      </a>
      <a href="/login">
        <button type="button" class="login btn">
          <span>Sign in</span>
        </button>
      </a>
    </div>
    <ng-template #categoriesButton>
      <a href="/categories">
        <button type="button" class="categories btn">
          <span>Categories</span>
        </button>
      </a>
    </ng-template>
  </div>
  <!-- Growth Section -->
  <div class="growthsection">
    <h1>Grow your skills and become a master at any certification</h1>
  </div>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose us?</h3>
            <p>
              We are dedicated to making certifications a breeze by giving users
              up to date and relavent questions to help facilitate success
            </p>
            <div class="text-center">
              <a
                href="https://blktechnologies.io/aboutus"
                target="_blank"
                class="more-btn"
                >Learn More About Us <i class="bx bx-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center test2">
          <div class="row gy-4">
            <div
              class="col-xl-4 addsec"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
                <i class="fa-solid fa-fire"></i>
                <h4>Popular certifications</h4>
                <p>
                  Cert-A-Pro has all of the trending certifications all in one
                  location
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div
              class="col-xl-4 addsec"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
                <i class="fa-regular fa-circle-question"></i>
                <h4>Modular Questions</h4>
                <p>
                  Our quizes will allow to see many questions that you may see
                  on your test. You are able to pick the amount of questions as
                  well as see your results
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div
              class="col-xl-4 addsec"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
                <i class="fa-brands fa-app-store"></i>
                <h4>Cross-Platform</h4>
                <p>
                  Cert-A-Pro is not only avaliable on desktop but is also found
                  on the play store and the apple store
                </p>
              </div>
            </div>
            <!-- End Icon Box -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</div>
