.catimage{
  height: 30vh;
  width:20vw;
  margin: 50px;
 

  
}
.catcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
   flex-direction: row;
   position: relative;
   overflow: auto; /* Enable scrolling when content exceeds viewport */
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 5%;
 
}
.itemcont:hover .overlay {
  opacity: .8;
  border-radius: 5%;
cursor:pointer;

}
.itemcont {
  position: relative;
  margin-bottom: 50px;
}
.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
h1{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 70px;
  margin-bottom: 15px;
  color: white;

}
.pagecontainer{
  background-color: #87CBB9
}

@media only screen and (max-width: 1700px) {
  .catcontainer {
    flex-direction: column ;
    justify-content: center;
    align-items: center;
  }
  .catimage{
    height: 40vh;
    width: 80%;
  }
}
@media only screen and (max-width: 560px) {

  .catimage{
    height: 30vh;
    width: 80vw;
  }
}