<div class="container">
  <h1 class="text-center">Admin Panel</h1>
  <div class="mt-5">
    <div
      class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm"
    >
      <!-- Basic Plan -->
      <div class="row align-items-center">
        <div class="col-12 col-md-4">
          <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
            Users
          </h4>

          <div class="text-secondary-d1 text-120">Update Users</div>
        </div>

        <div class="col-12 col-md-4 text-center">
          <a
            href="/admin/users"
            class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600"
            >Get Started</a
          >
        </div>
      </div>
    </div>

    <div
      class="d-style bgc-white btn btn-brc-tp btn-outline-green btn-h-outline-green btn-a-outline-green w-100 my-2 py-3 shadow-sm border-2"
    >
      <!-- Pro Plan -->
      <div class="row align-items-center">
        <div class="col-12 col-md-4">
          <h4 class="pt-3 text-170 text-600 text-green-d1 letter-spacing">
            Questions
          </h4>

          <div class="text-secondary-d2 text-120">
            <div
              class="text-danger-m3 text-90 mr-1 ml-n4 pos-rel d-inline-block"
            >
              Update Questions
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 text-center">
          <a
            href="/admin/questions"
            class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600"
            >Get Started</a
          >
        </div>
      </div>
    </div>

    <div
      class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm"
    >
      <!-- Premium Plan -->
      <div class="row align-items-center">
        <div class="col-12 col-md-4">
          <h4 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
            Categories
          </h4>

          <div class="text-secondary-d1 text-120">Update Categories</div>
        </div>

        <div class="col-12 col-md-4 text-center">
          <a
            href="/admin/categories"
            class="f-n-hover btn btn-warning btn-raised px-4 py-25 w-75 text-600"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
