<div class="selectcont">
  <p class="certtitle">{{ certificationTitle }}</p>
  <div class="dropdown m-1">
    <button
      class="btn btn-secondary dropdown-toggle rounded-0 sel"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ selectedQuestionCount ? selectedQuestionCount + ' Questions Selected' : 'Select Question Count' }}
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let count of questionCounts">
        <button class="dropdown-item" (click)="setQuestionCount(count)">
          {{ count }} Questions
        </button>
      </li>
    </ul>
  </div>
  <button
    class="btn btn-primary mt-3 rounded-0 m-1 sub"
    (click)="submitSelection()"
  >
    Submit
  </button>
</div>
